@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

#skills-tittle{
    font-family: 'Merriweather', serif;
    color: #7a2828;  
    font-weight: 900;
    font-size: 102px;
}
#skills-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

