@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

nav{
    background: #7a2828; 
    font-family: 'Roboto', sans-serif; 
    -webkit-box-shadow: none;
    box-shadow: none;
}
nav a{
    color:#fff;
}